

<div id="bg"></div>

<app-navbar> </app-navbar>


<div class="row">
  <div class="col-md-2">
      <ul><br>
          <a [routerLink]="['/home']"><li style="background-color: cornflowerblue;">Home</li></a><hr>
          <a [routerLink]="['/login']"><li style="color: white;">My Account</li></a><hr>

          <a [routerLink]="['/dashboard']"><li style="color: white;">Order Pizza</li></a><hr>
      </ul>
  </div>
  <div class="col-md-10" style="background-color: cornflowerblue">
      <br><h3>Welcome to Domino's Pizza</h3>
      <div class=c1>
        <h3>PLEASE LOGIN TO CONTINUE</h3>
        </div>
      <div id="hg"></div>



  </div>
</div>


